<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome Page</title>
	</head>
	<body>
		<header></header>
		<nav></nav>
		<section>			  
			<div class="container">
  				<h1>Welcome</h1>
			</div><hr>
			<div class="row">
				<div class="col-md-4">
					.col-md-4<br>
					<h1>Image1 Here</h1>
				</div>
  				<div class="col-md-8">
  					 .col-md-8<br>
  					 <p>You can see the list of your uploaded songs.</p>
  				</div>
			</div><hr>
			<div class="row">
				<div class="col-md-8">
					.col-md-8<br>
					<p>You can play your songs here.</p>
				</div>
  				<div class="col-md-4">
  					 .col-md-4<br>
  					 <h1>Image2 Here</h1>
  				</div>
			</div><hr>
			<div class="row">
				<div class="col-md-4">
					.col-md-4<br>
					<h1>Image3 Here</h1>
				</div>
  				<div class="col-md-8">
  					 .col-md-8<br>
  					 <p>You can add tags to the songs here.</p>
  				</div>
			</div><hr>
			<div class="row">
				<div class="col-md-8">
					.col-md-8<br>
					<p>You can search your songs via tags here</p>
				</div>
  				<div class="col-md-4">
  					 .col-md-4<br>
  					 <h1>Image4 Here</h1>
  				</div>
			</div><hr>
		</section>
		<aside></aside>
		<footer></footer>
	</body>
</html>
