<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= image_tag("songs_play_icon.jpg", class: "icons play") do %><% end %>
			<h1>You can play already present songs here.</h1>
		</div>
		<div class="col-md-6">
			<%= image_tag("songs_tag_icon.png", class: "icons") do %><% end %>
			<h1>You can add tags to the songs here.</h1>
		</div>
		<div class="col-md-6">
			<%= image_tag("songs_list_icon.jpg", class: "icons") do %><% end %>
			<h1>You can see the list of your uploaded songs.</h1>
		</div>
		<div class="col-md-6">
			<%= image_tag("songs_searching_icon.png", class: "icons") do %><% end %>
			<h1>You can search your songs via tags here</h1>
		</div>
	</div>
</div>