<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome Page</title>
	</head>
	<body>
	<h1>Songs List</h1><br>
	<ul>
		<li></li>
	</ul>
	<%= link_to "Upload New Song" , class: 'song_upload',id: "song_title" %>
	</body>
</html>
