<header>
	<div class="jumbotron">
		<h1>Play here <span class="glyphicon glyphicon-play"></span></h1>
	</div>
</header>
<div class="container">
	<div class="well">
		<table class="table table-striped">
			<thead>
				<th>Song</th>
				<th>Play</th>
			</thead>		
			<tbody>
				<% @songs.each do |song| %>
					<tr>
						<td><%= song.song_title %></td>
						<td>
							<audio controls class="audio">
	  							<source src="<%=song.song_url.url %>" type="audio/mpeg">
									Your browser does not support the audio element.
							</audio>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%= link_to "Upload New Song" ,new_song_path, class: "btn btn-primary",id: "song_upload" %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('audio').on('play', function(){
    		$("audio").not(this).trigger('pause');
		});
	});
</script>